target/classes/demo-kafka.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	
	<flow name="demo-kafkaFlow" doc:id="53bea5b7-5387-4514-9148-8341470d5993" >
		<http:listener doc:name="Listener" doc:id="307a5216-d157-4d99-b75b-7c6c8d23b69c" path="/v1/kafka" allowedMethods="GET" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="publishMessage" doc:id="3e80f3d6-e237-4f1a-93d4-262a1c62f4e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"hi":"rachana",
	"time": now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<kafka:publish doc:name="Publish" doc:id="a1fb8903-4bc5-4bc2-9226-a303c69fa687" config-ref="Apache_Kafka_Producer_configuration" topic="topic_0"/>
		<ee:transform doc:name="AfterPublish" doc:id="d323158b-e0f1-426b-aff9-dceb5f491e45" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	done:"success",
	"payload": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="demo-kafkaFlow1" doc:id="6ac85e0b-1539-47b3-b342-b3b862a376ca" >
		<kafka:message-listener doc:name="Message listener" doc:id="6cd07ba7-114c-43c8-8529-5bf8e2ce5084" config-ref="Apache_Kafka_Consumer_Configuration"/>
		<ee:transform doc:name="ConsumeMessage" doc:id="6f1bdedd-37e4-468d-bffd-de587e8ee78c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"done":"success",
	"hi": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="61bd5275-b7df-411b-8c63-48d5e71934cd" message="#[payload]"/>
	</flow>
</mule>
